@model StudentCourseViewModel

@{
    ViewData["Title"] = "ViewCourse";
}

<h1>ViewCourse</h1>

<html>
<head>

</head>
<body>
    <p>Courses taken by @Model.Student.Name</p>
    <ul>
        @foreach (var data in Model.StudentCourses)
        {

            <li>@data.Course.Name</li>
        }
    </ul>

    @if(Model.StudentCourses.Count() == 0)
    {
        <p><i>No course taken</i></p>
    }

    <p><a asp-controller="Student" asp-action="AddCourse" asp-route-id="@Model.Student.StudentId">Add Course</a></p>
</body>
</html>

